mcp==2.0.0
bcrypt
python-dotenv
google-genai
pydantic
anyio
httpx2
jsonschema
mcp-types
opentelemetry-api
pyjwt
python-multipart
pywin32
sse-starlette
starlette
typing-extensions
typing-inspection
uvicorn